<div class="row">
  <div class="col-md-12" align>
    <%= link_to "New Task", "/tasks/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<h2>Posted Tasks</h2>

<table class="table">
  <tr>
    <th width=20%>Description</th>
    <th width=25%>Location</th>
    <th width=10%>Begins</th>
    <th width=10%>Ends</th>
    <th width=10%>Price</th>
    <th width=15%>Posted by</th>
    <th>Task Available?</th>
  </tr>

  <% Task.read.order("start desc").each do |task| %>
    <tr>
      <td><%= link_to task["description"], "/tasks/#{task["id"]}" %></td>
      <td><%= task["address"] %></td>
      <td><%= task["start"] %></td>
      <td><%= task["end"] %></td>
      <td>
        $<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %>
      </td>
      <td>
        <% other = User.find_by("id" => task["buyer_id"]) %>
        <%= link_to other["name"], "/users/#{other["id"]}" %>
      </td>
      <td>
        <% if task["seller_id"].nil? %>
          <%= link_to "Available", "/tasks/#{task["id"]}" %>
          <% else %>
            No
        <% end %>
      </td>
    <tr>
  <% end %>
</table>
