<h2>Create New Task</h2>

<br>

<div class="row">
  <div class="col-sm-6">

    <p><%= @message %></p>

    <%= form_tag "/tasks", "method" => "post" %>

      <div class="form-group">
        <%= label_tag "description", "What do you need done?" %>
        <%= text_field_tag "description", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "address", "Where do you need it done?" %>
        <%= text_field_tag "address", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "", "When do you need it done? (YYYY-MM-DD HH:MM)" %><br>
        Between <%= text_field_tag "start", "", "class" => "form-control" %>
        and <%= text_field_tag "end", "", "class" => "form-control"  %>

      </div>

      <div class="form-group">
        <%= label_tag "price_in_cents", "How much will you pay? (price in cents, e.g. type 1000 for $10.00)" %>
        <%= text_field_tag "price_in_cents", "", "class" => "form-control" %>
      </div>

      <br>

      <%= submit_tag "Create task", "class" => "btn btn-lg btn-primary" %>&nbsp;&nbsp;
      <%= link_to "Cancel", "/tasks", "class" => 'btn btn-lg btn-danger' %>


    </form>
</div>
</div>
