<% task = Task.find_by("id" => params["id"]) %>
<% user = User.find_by("id" => cookies["user_id"]) %>
<% buyer = User.find_by("id" => task["buyer_id"]) %>
<% seller = User.find_by("id" => task["seller_id"]) %>

<h2><%= task["description"] %></h2>

<br>

<div class="row">
  <div class="col-md-5">

    <% if seller.present? %>
      <% if user["id"] == buyer["id"] %>

<!-- Buyer sees this if a seller has signed up -->

        <%= link_to "Edit task", "/tasks/#{task["id"]}/edit", "class" => 'btn btn-lg btn-primary' %>

        <br>
        <br>

        <table class="table">
          <tr>
            <th width=10%>Location</th>
            <td><%= task["address"] %></td>
          </tr>
          <tr>
            <th>Begins</th>
            <td><%= task["start"] %></td>
          </tr>
          <tr>
            <th>End</th>
            <td><%= task["end"] %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %></td>
          </tr>
          <tr>
            <th>Buyer</th>
            <td>Me</td>
          </tr>
          <tr>
            <th>Seller</th>
            <td><%= link_to seller["name"], "/users/#{seller["id"]}" %></td>
          </tr>

          <% if task["task_completion"] == 1 %>
            <tr>
              <th>Completed?</th>
              <td>Yes</td>
            </tr>
            <tr>
              <th>Reviewed?</th>
              <td>
                <% if task["ratingbybuyer"].present? %>
                  Yes
                <% else %>
                  No | <%= link_to "Write review", "/tasks/#{task["id"]}/edit" %>
                <% end %>
              </td>
            </tr>
            </table>
          <% else %>
            <tr>
              <th>Completed?</th>
              <td>No</td>
            </tr>
            </table>
            <%= link_to "Delete task", "/tasks/#{task["id"]}", "method" => "delete", "class" => 'btn btn-lg btn-danger' %>&nbsp;&nbsp;
          <% end %>


      <% elsif user["id"] == seller["id"] %>

<!-- Seller sees this if he/she has signed up -->

        <%= link_to "Edit task", "/tasks/#{task["id"]}/edit", "class" => 'btn btn-lg btn-primary' %>

        <br>
        <br>

        <table class="table">
          <tr>
            <th width=10%>Location</th>
            <td><%= task["address"] %></td>
          </tr>
          <tr>
            <th>Begins</th>
            <td><%= task["start"] %></td>
          </tr>
          <tr>
            <th>End</th>
            <td><%= task["end"] %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %></td>
          </tr>
          <tr>
            <th>Buyer</th>
            <td><%= link_to buyer["name"], "/users/#{buyer["id"]}" %></td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>Me</td>
          </tr>
          <% if task["task_completion"] == 1 %>
            <tr>
              <th>Completed?</th>
              <td>Yes</td>
            </tr>
            <tr>
              <th>Reviewed?</th>
              <td>
                <% if task["ratingbyseller"].present? %>
                  Yes
                <% else %>
                  No | <%= link_to "Write review", "/tasks/#{task["id"]}/edit" %>
                <% end %>
              </td>
            </tr>
          <% else %>
            <tr>
              <th>Completed?</th>
              <td><%= link_to "Mark complete", "/tasks/#{task["id"]}/edit" %></td>
            </tr>
          <% end %>


        </table>

      <% else %>

        <table class="table">
          <tr>
            <th width=10%>Location</th>
            <td><%= task["address"] %></td>
          </tr>
          <tr>
            <th>Begins</th>
            <td><%= task["start"] %></td>
          </tr>
          <tr>
            <th>End</th>
            <td><%= task["end"] %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %></td>
          </tr>
          <tr>
            <th>Buyer</th>
            <td><%= link_to buyer["name"], "/users/#{buyer["id"]}" %></td>
          </tr>
          <tr>
            <th>Seller</th>
            <td><%= link_to seller["name"], "/users/#{seller["id"]}" %></td>
          </tr>
        </table>

      <% end %>

    <% else %>

      <% if user["id"] == buyer["id"] %>

<!-- Buyer sees this if no seller has signed up -->

        <%= link_to "Edit task", "/tasks/#{task["id"]}/edit", "class" => 'btn btn-lg btn-primary' %>&nbsp;&nbsp;
        <%= link_to "Delete task", "/tasks/#{task["id"]}", "method" => "delete", "class" => 'btn btn-lg btn-danger' %>

        <br>
        <br>

        <table class="table">
          <tr>
            <th width=10%>Location</th>
            <td><%= task["address"] %></td>
          </tr>
          <tr>
            <th>Begins</th>
            <td><%= task["start"] %></td>
          </tr>
          <tr>
            <th>End</th>
            <td><%= task["end"] %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %></td>
          </tr>
         <tr>
            <th>Buyer</th>
            <td>Me</td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>No seller yet.</td>
          </tr>
        </table>

      <% else %>

<!-- Everyone except buyer sees this if no seller has signed up -->

        <%= link_to "Sign me up", "/tasks/#{task["id"]}/edit", "class" => 'btn btn-lg btn-primary' %>

        <br>
        <br>

        <table class="table">
          <tr>
            <th width=10%>Location</th>
            <td><%= task["address"] %></td>
          </tr>
          <tr>
            <th>Begins</th>
            <td><%= task["start"] %></td>
          </tr>
          <tr>
            <th>End</th>
            <td><%= task["end"] %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<%= number_with_precision(task["price_in_cents"]/100.00, precision: 2) %></td>
          </tr>
          <tr>
            <th>Buyer</th>
            <td><%= link_to buyer["name"], "/users/#{buyer["id"]}" %></td>
          </tr>
          <tr>
            <th>Seller</th>
            <td>No seller yet | <%= link_to "Sign me up", "/tasks/#{task["id"]}/edit" %> </td>
          </tr>
        </table>

      <% end %>

    <% end %>

  </div>

</div>

<div class="row">
  <div class="col-md-8">
    <h3>Conversation</h3>
    <br>

      <% messages = Message.where("task_id" => task["id"]) %>
      <% if messages.empty? %>
        No messages yet.
        <br><br>
      <% else %>
        <table class="table">
          <tr>
            <th width=30%>Date/Time</th>
            <th width=20%>By</th>
            <th>Message</th>
          </tr>

          <% Message.read.order("created_at asc").each do |message| %>

            <% if message["task_id"] == task["id"] %>
              <tr>
              <td><%= message["created_at"] %></td>
              <td><%= User.find_by("id" => message["user_id"])["name"] %></td>
              <td><%= message["content"] %></td>
              </tr>
            <% end %>
          <% end %>

        </table>
      <% end %>


      <%= form_tag "/messages", "method" => "post" %>

        <div class="form-group">
          <%= label_tag "message", "Your message" %>
          <%= text_field_tag "message", "", "class" => "form-control" %>
        </div>

        <%= hidden_field_tag "user_id", user["id"] %>
        <%= hidden_field_tag "task_id", task["id"] %>

        <br>

        <%= submit_tag "Post new message", "class" => "btn btn-lg btn-primary" %>&nbsp;&nbsp;
        <%= link_to "Cancel", "/", "class" => 'btn btn-lg btn-danger' %>

      </form>

  </div>
</div>
